<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484067892881-9vjco98i4r65sqpntk7oom25ck19dtue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484067892881-9vjco98i4r65sqpntk7oom25ck19dtue</string>
	<key>API_KEY</key>
	<string>AIzaSyAeNWSn3Jc4UY0ePQOBvQBRr7mkkwCHWr8</string>
	<key>GCM_SENDER_ID</key>
	<string>484067892881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santirodriguezaffonso</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8d04c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8d04c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484067892881:ios:2b37a3dfae94f965326930</string>
</dict>
</plist>